@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
}
img{
    max-width: 100%;
}
.header{
    background-color:#1B3DA2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.header-right a{
    display: inline-block;
    padding: 0 20px;
    color: #FFFFFF;
    font-family: roboto;
    text-decoration: none;
    width: 120.50px;
    font-size: 20px;
}
/*.header-right a::after  {
    position: absolute;
    content: "";
    border-left: 1px solid #7798F9;
    height: 58px;
    display: inline-block;
    top: 45px;
    justify-content: center;
}
.header-right a:last-child::after{
    border-left: 0;
}*/
.banner-image{
    background-image: url("../image/background-image.jpeg");
    display: cover;
    background-position: center;
    min-height: 500px;
    width: 100%;
    }

.banner h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
    display: inline-block;
    padding-left: 80px;
    padding-top: 80px;
    line-height: 30px;
    }

.banner p {
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    width: 300.45px;
    color: #FFFFFF;
    padding-left: 80px;
    }
@media (max-width: 768){
    .header .logo img{
         max-width: 10px;
    }
    .header-right a{
        font-size: 10px;
    }
    .banner h1{
        font-size: 15px;
    }
    .banner p{
        font-size: 10px;
        width: 100.43px;
    }
    }
@media (max-width: 1024){
        .header .logo img{
             max-width: 30px;
        }
        .header-right a{
            font-size: 20px;
        }
        .banner h1{
            font-size: 30px;
        }
        .banner p{
            font-size: 20px;
            width: 100.43px;
        }
        }
.footer {
top: 121px;
text-align: center;
padding: 3px;
background-color: #1E1D45;
color: white;
height: 316px;
position: relative;
}
.foot img{
    position: absolute;
    top: 80px;
    width: 129px;
    height: 83px;
    left: 150px;
}

.foot .footer-item-1{
    position: absolute;
left: 29.1%;
right: 45.41%;
top: 20.89%;
bottom: 38.92%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 133.69%;
color: #FFFFFF;
}

.foot .footer-item-2{
position: absolute;
left: 55.7%;
right: 40.96%;
top: 20.89%;
bottom: 64.24%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 198.19%;
color: #FFFFFF;
}
.foot .footer-item-3
{
    position: absolute;
left: 63.54%;
right: 27.12%;
top: 20.89%;
bottom: 62.66%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 219.69%;
color: #FFFFFF;
}

.foot .footer-item-4{
    position: absolute;
left: 73.49%;
right: 15.08%;
top: 22.47%;
bottom: 71.84%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 130%;
color: #FFFFFF;
}

.footer-item-4 img{
    position: absolute;
left: .82%;
right: 22.62%;
top: 37.03%;
bottom: 56.02%;
Width :30.25px;
Height :20.96px;
top :30px;
}