    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@250;300;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
    @font-face {
        font-family: 'Acumin Pro', sans-serif;
        src: url('../font/Acumin-RPro.woff') format('woff');
    }
    
    body {
        margin: 0;
    }
    
    img {
        max-width: 100%;
    }
    /*header section*/
    
    .header {
        display: flex;
        background-color: #1B3DA2;
        align-items: center;
    }
    
    .toggle-button {
        display: none;
    }
    
    .nav ul li {
        display: inline-block;
    }
    
    .nav ul li a {
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        list-style: none;
    }
    
    li.nav__element {
        position: relative;
    }
    
    li.nav__link {
        position: relative;
    }
    
    li.nav__element__link {
        position: relative;
    }
    
    li.nav__element:before {
        content: '';
        display: block;
        width: 1px;
        position: absolute;
        background: #7798F9;
    }
    
    li.nav__link:before {
        content: '';
        display: block;
        width: 1.3px;
        position: absolute;
        background: #7798F9;
    }
    
    li.nav__element__link:not(:last-child)::after {
        content: '';
        display: block;
        width: 1.3px;
        position: absolute;
        background: #7798F9;
    }
    
    .nav a:hover {
        opacity: 0.5;
    }
    
    @media screen and (max-width: 768px) {
        .header {
            justify-content: space-between;
            align-items: center;
        }
        .header-logo img {
            max-width: 70px;
            padding: 10px 0px 20px 30px;
        }
        .nav ul li {
            display: none;
        }
        .toggle-button {
            display: flex;
            font-size: 30px;
            color: #FFFFFF;
            padding-left: 120px;
            text-decoration: none;
        }
    }
    
    @media screen and (min-width: 769px) {
        .header {
            justify-content: inherit;
        }
        .header-logo img {
            max-width: 100px;
            padding: 10px 0px 20px 30px;
        }
        .nav ul li a {
            font-size: 15px;
        }
        .nav ul li {
            padding: 0px 15px;
        }
        li.nav__element:before {
            height: 22px;
            right: 0px;
            top: 50%;
            background: #7798F9;
            margin-bottom: -80px;
            margin-top: -10px;
        }
        li.nav__link:before {
            height: 20px;
            right: 0;
            top: 50%;
            background: #7798F9;
            margin-bottom: -80px;
            margin-top: -10px;
        }
        li.nav__element__link:not(:last-child)::after {
            height: 20px;
            right: 0px;
            top: 50%;
            background: #7798F9;
            margin-bottom: -80px;
            margin-top: -10px;
        }
    }
    
    @media screen and (min-width: 1025px) {
        .header-logo img {
            max-width: 130px;
        }
        .nav ul li a {
            font-size: 20px;
        }
    }
    
    @media screen and (min-width: 1401px) {
        .header-logo img {
            max-width: 149.33px;
        }
        .nav ul li a {
            font-size: 30px;
        }
        .nav ul li {
            padding: 0px 20px;
        }
        li.nav__element:before {
            height: 30px;
            margin-top: -15px;
        }
        li.nav__link:before {
            height: 30px;
            margin-top: -15px;
        }
        li.nav__element__link:not(:last-child)::after {
            height: 30px;
            margin-top: -15px;
        }
    }
    
    @media screen and (min-width: 1800px) {
        .header {
            min-height: 192px;
        }
        .header-logo img {
            min-width: 186px;
            min-height: 123px;
            padding: 22px 0px 47px 86px;
        }
        .nav ul {
            padding-left: 131px;
            line-height: 35px;
        }
        .nav ul li {
            padding: 0px 35px;
            text-align: center;
        }
        .nav ul li a {
            font-size: 30px;
        }
        .nav__element {
            max-width: 182.14px;
        }
        .nav__link {
            max-width: 148.2px;
        }
        .nav__element__link {
            max-width: 129.93px;
        }
        .nav__element__link {
            max-width: 176.62px;
        }
        li.nav__element:before {
            height: 58px;
            right: 0px;
            top: 50%;
            background: #7798F9;
            margin-top: -28px;
        }
        li.nav__link:before {
            height: 58px;
            right: 0;
            top: 50%;
            background: #7798F9;
            margin-top: -28px;
        }
        li.nav__element__link:not(:last-child)::after {
            height: 58px;
            right: 0;
            top: 50%;
            background: #7798F9;
            margin-top: -28px;
        }
    }
    /*banner section*/
    
    .banner-image {
        background-image: url("../image/background-image.jpeg");
        background-position: center;
        background-size: cover;
        min-height: 400px;
        width: 100%;
    }
    
    .banner-content h1 {
        font-family: 'Montserrat', sans-serif;
        display: inline-flex;
        font-weight: 900;
        color: #FFFFFF;
        margin-bottom: 2px;
    }
    
    .banner-content p {
        font-family: 'Acumin Pro', sans-serif;
        font-weight: 500;
        color: #FFFFFF;
        margin-top: 0px;
    }
    
    @media screen and (min-width: 320px) {
        .banner-content h1 {
            font-size: 20px;
            padding-top: 70px;
            padding-left: 40px;
        }
        .banner-content p {
            font-size: 15px;
            padding-left: 40px;
            width: 280.50px;
            line-height: 20px;
        }
    }
    
    @media screen and (min-width: 769px) {
        .banner-content h1 {
            font-size: 25px;
            padding-top: 100px;
            padding-left: 120px;
        }
        .banner-content p {
            font-size: 20px;
            padding-left: 120px;
            width: 400.50px;
            line-height: 20px;
        }
    }
    
    @media screen and (min-width: 1025px) {
        .banner-image {
            height: 600px;
        }
        .banner-content h1 {
            font-size: 30px;
            padding-top: 140px;
            padding-left: 130px;
        }
        .banner-content p {
            font-size: 25px;
            padding-left: 130px;
            width: 420.50px;
            line-height: 25px;
        }
    }
    
    @media screen and (min-width: 1401px) {
        .banner-image {
            height: 650px;
        }
        .banner-content h1 {
            font-size: 40px;
            padding-top: 200px;
            padding-left: 150px;
        }
        .banner-content p {
            font-size: 30px;
            padding-left: 150px;
            width: 560.50px;
            line-height: 30px;
        }
    }
    
    @media screen and (min-width: 1800px) {
        .banner-image {
            min-height: 974px;
        }
        .banner-content h1 {
            font-size: 60px;
            padding-top: 282px;
            padding-left: 151px;
        }
        .banner-content p {
            font-size: 30px;
            padding-left: 145px;
            width: 564px;
            line-height: 40px;
        }
    }
    /*card section*/
    
    .card-heading h2 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }
    
    .card-container {
        display: grid;
        grid-column-gap: 5px;
        grid-template-columns: auto auto auto;
        margin-bottom: 28px;
    }
    
    .card-item {
        background-color: #F4F6F8;
        border: 1px solid rgba(0, 0, 0, 0.8);
        box-shadow: 10px 30px 30px rgba(181, 192, 203, 0.26);
        border-radius: 22px;
        padding: 20px;
        border: 4px solid #FFFFFF;
        box-sizing: border-box;
        transition: 0.3s;
    }
    
    .card-item h2,
    h4 {
        font-family: 'Acumin Pro', sans-serif;
        font-weight: bold;
    }
    
    .card-item:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    
    @media screen and (max-width: 768px) {
        .card-container {
            width: 90%;
            display: block;
            padding: 0px 5px 0px 15px;
        }
        .card-item {
            min-width: 250px;
            min-width: 150px;
            text-align: center;
            margin-bottom: 10px;
        }
    }
    
    @media screen and (min-width: 769px) {
        .card-heading h2 {
            font-size: 30px;
        }
        .card-container {
            display: grid;
            grid-column-gap: 30px;
            grid-template-columns: auto auto auto;
            padding: 0px 8px 0px 5px;
        }
        .card-item {
            text-align: center;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .card-heading h2 {
            font-size: 40px;
        }
        .card-container {
            padding: 0px 10px 0px 5px;
        }
        .card-item {
            min-height: 200px;
        }
    }
    
    @media screen and (min-width: 1800px) {
        .card-heading h2 {
            font-size: 60px;
            text-align: left;
            padding: 117px 0px 0px 401px;
        }
        .card-container {
            min-height: 487px;
            min-width: 350px;
            padding: 0px 405px 0px 405px;
        }
        .card {
            margin-bottom: 121px;
        }
        .card-item h2 {
            padding-top: 43px;
        }
    }
    /*footer section*/
    
    .footer-1 {
        background-color: #1E1D45;
    }
    
    .footer-content p {
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 13px;
        transition: 0.7s;
    }
    
    .footer-content a {
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        text-decoration: none;
        font-size: 13px;
    }
    
    .footer__link ul li {
        list-style: none;
    }
    
    .footer__links ul li {
        list-style: none;
    }
    
    .footer__link ul li:hover {
        opacity: 0.5;
    }
    
    .footer__links ul li:hover {
        opacity: 0.5;
    }
    
    .footer-icon :hover {
        opacity: 0.2;
    }
    
    .footer-2 {
        background-color: #1E1D45;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .footer-2 p {
        text-align: center;
        color: #9291B6;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
    
    @media screen and (min-width: 250px) {
        .footer-logo {
            min-width: 70px;
            padding: 20px 0px 20px 70px;
        }
        .footer-1 {
            padding-bottom: 20px;
            display: block;
        }
        .footer-content {
            padding-left: 15px;
            padding-right: 15px;
        }
        .footer__element {
            width: 220.50px;
            text-align: justify;
        }
        .footer__link li {
            margin-left: -40px;
        }
        .footer__links li {
            margin-left: -40px;
        }
        .footer__social_link a {
            padding-left: 10px;
        }
    }
    
    @media screen and (min-width: 320px) {
        .footer-logo {
            min-width: 70px;
            padding: 20px 0px 20px 100px;
        }
        .footer-content {
            padding-left: 30px;
            padding-right: 30px;
        }
        .footer__element {
            width: 280.50px;
        }
        .footer__link li {
            margin-left: -40px;
        }
        .footer__links li {
            margin-left: -40px;
        }
    }
    
    @media screen and (min-width: 482px) {
        .footer-logo {
            padding: 20px 170px 20px 170px;
        }
        .footer-content {
            padding-left: 70px;
            padding-right: 70px;
        }
    }
    
    @media screen and (min-width: 769px) {
        .footer-1 {
            align-items: center;
            justify-content: inherit;
            display: flex;
        }
        .footer-logo {
            min-width: 90px;
            padding: 20px 30px 20px 20px;
        }
        .footer-content {
            display: inline-flex;
            padding: 20px 0px;
        }
        .footer__element {
            width: 280.50px;
            padding-left: 30px;
            padding-right: 0px;
        }
        .footer__link {
            padding-left: 30px;
        }
        .footer__links {
            padding-left: 20px;
        }
        .footer__social_link {
            padding-left: 10px;
        }
    }
    
    @media screen and (min-width: 1025px) {
        .footer-logo img {
            min-width: 110px;
            padding: 20px 30px 20px 30px;
        }
        .footer-content {
            padding: 30px 0px;
        }
        .footer__element {
            padding-left: 20px;
        }
        .footer__link {
            padding-left: 20px;
        }
        .footer__links {
            padding-left: 40px;
        }
        .footer__social_link {
            padding-left: 40px;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .footer__element {
            padding-left: 100px;
        }
        .footer__link {
            padding-left: 50px;
        }
        .footer__links {
            padding-left: 50px;
        }
        .footer__social_link {
            padding-left: 50px;
        }
    }
    
    @media screen and (min-width: 1400px) {
        .footer-logo img {
            padding: 80px 0px 84px 200px;
        }
        .footer__element {
            padding-left: 120px;
        }
        .footer__link {
            padding-left: 80px;
        }
        .footer__links {
            padding-left: 80px;
        }
        .footer__social_link {
            padding-left: 80px;
        }
        .footer__social_link img {
            padding-top: 20px;
        }
    }
    
    @media screen and (min-width: 1820px) {
        .footer-1 {
            min-height: 247px;
        }
        .footer-logo img {
            min-width: 129px;
            min-height: 83px;
            padding: 80px 0px 84px 272px;
        }
        .footer__element p {
            width: 357px;
            padding: 66px 0px 54px 30px;
            line-height: 17.38px;
            text-align: initial;
        }
        .footer__link li {
            width: 50px;
            line-height: 25.76px;
            padding: 66px 0px 54px 140px;
        }
        .footer__links li {
            width: 103px;
            line-height: 28.56px;
            padding: 66px 0px 54px 30px;
        }
        .footer__social_link p {
            width: 105px;
            line-height: 18.2px;
            padding: 70px 0px 0px 30px;
        }
        .footer__social_link .icon {
            margin-left: 35px;
        }
        .footer__social_link img {
            padding-top: 20px;
        }
        .footer__social_link a {
            padding-right: 10px;
        }
    }