@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@250;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
body {
    margin: 0;
}

img {
    max-width: 100%;
}


/*header section*/

.header {
    display: flex;
    background-color: #1B3DA2;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.toggle-button {
    display: none;
}

.nav ul li {
    display: inline-block;
    padding: 0 40px 0 30px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    width: 120.50px;
}

@media screen and (max-width: 768px) {
    .logo img {
        max-width: 70px;
    }
    .nav ul li {
        display: none;
    }
    .toggle-button {
        display: flex;
        font-size: 30px;
        color: #FFFFFF;
        padding-left: 100px;
    }
}

@media screen and (min-width: 769px) {
    .logo img {
        max-width: 100px;
    }
    .nav ul li {
        font-size: 15px;
        width: 80.50px;
    }
}

@media screen and (min-width: 1025px) {
    .logo img {
        max-width: 130px;
    }
    .nav ul li {
        font-size: 20px;
        width: 80.50px;
    }
}

@media screen and (min-width: 1401px) {
    .nav ul li {
        font-size: 30px;
        width: 120.50px;
    }
}


/*form section*/

.form-heading h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.form-heading h4 {
    text-align: center;
    font-family: 'Acumin Pro', sans-serif;
}

@media screen and (min-width: 320px) {
    .form-heading h4 {
        padding: 0px 60px 0px 60px;
    }
}

@media screen and (min-width: 481px) {
    .form-heading h4 {
        padding: 0px 140px 0px 140px;
    }
}

@media screen and (min-width: 769px) {
    .form-heading h4 {
        padding: 0px 180px 0px 180px;
    }
}

@media screen and (min-width: 1025px) {
    .form-heading h4 {
        padding: 0px 140px 0px 140px;
    }
}

.form-box {
    width: 500px;
    height: 650px;
    background: #FFFFFF;
    box-shadow: 10px 30px 30px rgba(181, 192, 203, 0.51);
    border-radius: 17px;
    padding-left: 20px;
    margin-left: 190px;
}

.form-box p {
    position: absolute;
    left: 500px;
    top: 530px;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 136.5%;
    color: #000000;
}

#name {
    position: absolute;
    width: 430px;
    height: 50px;
    left: 310px;
    top: 600px;
    border: 1px solid #7E95A6;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 136.5%;
    color: #36404E;
}

#email {
    position: absolute;
    width: 430px;
    height: 58px;
    left: 310px;
    top: 670px;
    border: 1px solid #7E95A6;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 136.5%;
    color: #36404E;
}

#msg {
    position: absolute;
    width: 430px;
    height: 172px;
    left: 310px;
    top: 750px;
    background: #FFFFFF;
    border: 1px solid #7E95A6;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 136.5%;
    color: #36404E;
}

.text {
    position: absolute;
    width: 214px;
    height: 25px;
    left: 310px;
    top: 950px;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 136.5%;
    color: #36404E;
}

.text2 {
    position: absolute;
    width: 245px;
    height: 58px;
    left: 500px;
    top: 950px;
    background: #F3F5F7;
    border: 1px solid #B7C4CD;
    box-sizing: border-box;
    border-radius: 8px;
}

#submit {
    position: absolute;
    width: 46px;
    height: 20px;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    width: 194px;
    height: 51px;
    left: 550px;
    top: 1030px;
    background: #20B9B9;
    border-radius: 7px;
}

#form2 {
    position: absolute;
    width: 380px;
    height: 650px;
    left: 800px;
    top: 470px;
    background: #FFFFFF;
    box-shadow: 10px 30px 30px rgba(181, 192, 203, 0.51);
    border-radius: 17px;
}

#form2 img {
    position: absolute;
    width: 19.89px;
    height: 19.93px;
    left: 40px;
    top: 100px;
}

#form2 p {
    position: absolute;
    width: 10px;
    height: 61px;
    left: 90px;
    top: 90px;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 176%;
    color: #000000;
}

#form2 #icon img {
    position: absolute;
    width: 20px;
    height: 10px;
    left: 40px;
    top: 240px;
    border: 2px solid #000000;
}

#form2 #text-1 {
    position: absolute;
    width: 114px;
    height: 61px;
    left: 100px;
    top: 230px;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 176%;
    color: #000000;
}

#form2 #icon2 img {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 40px;
    top: 400px;
}

#form2 #icon3 img {
    position: absolute;
    width: 18px;
    height: 22px;
    left: 1145px;
    top: 500px;
    border: 2px solid #000000;
}